* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem 0;
    text-align: center;
    margin-top: 80px; /* For fixed header space */
}

.section-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px; /* Added padding for internal spacing */
}

#home {
    background: #fff;
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.intro {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 3.5rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

p {
    font-size: 1.1rem;
    flex-wrap: wrap; /* Allow text to wrap to new lines */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.para {
    font-size: 1.5rem;
}

#about-me {
    background-color: #fff;
    padding: 50px 20px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#about-me h2 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
}

#about-me p {
    margin-bottom: 1.5rem;
    line-height: 1.8;
    font-size: 1.1rem;
    color: #666;
    font-family: "Montserrat", sans-serif;
}

#about-me h3 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;

    font-family: "Open Sans", sans-serif;
}

.skills-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 1.5rem;
    text-align: left; /* Left align list items */
}

.skills-list li {
    margin-bottom: 10px;
    padding-left: 1.5em;
    position: relative;
    font-size: 1.1rem;
    color: #333;
    font-family: "Montserrat", sans-serif;
}

.skills-list .icon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5rem;
    color: #4CAF50;
}

highlight {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
}

.highlight::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s ease;
}


.highlight-word {
    background-color: coral; /* Highlight color */
    transition: background-color 2.0s ease;
}

.highlight {
    background-color: #d3d3d3; /* Subtle grey background */
}

.highlight-blue {
    background-color: lightcoral;
}

#projects h2 {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 2.5rem;
}

.project {
    background: #fff;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left; /* Ensure project text is left-aligned */
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.project img.project-image {
    width: 100%; /* Ensure the images are responsive */
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensure images cover the set dimensions */
    border-radius: 8px 8px 0 0; /* Rounded corners for top edge */
    margin-bottom: 1rem; /* Space between image and text */
}

.project-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    background-color: lightgrey;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.project-button:hover {
    background-color: #45a049;
}

#play {
    background-color: #fff;
    padding: 4rem 1rem;
    text-align: center;
    margin-top: 50px;
}

#play h2 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.carousel {
    position: relative;
    max-width: 800px; /* Ensure consistent width */
    margin: 0 auto;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    height: 500px; /* Set a fixed height for the carousel */
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
    height: 100%; /* Ensure the track takes the full height of the carousel */
}

.carousel-slide {
    min-width: 100%;
    height: 100%; /* Ensure each slide takes the full height of the carousel */
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide overflow to ensure the images fit perfectly */
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure images cover the entire slide area */
    border-radius: 12px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.5rem;
    z-index: 1000;
    transition: background-color 0.3s;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-button-left {
    left: 10px;
}

.carousel-button-right {
    right: 10px;
}

#contact {
    background-color: #fff;
    padding: 4rem 1rem;
    text-align: center;
    margin-top: 50px;
}

#contact h2 {
    color: #333;
    font-size: 2.0rem;
    margin-bottom: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}

.contact-details {
    max-width: 800px; /* Ensure consistent width */
    margin: 0 auto;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
    font-family: "Montserrat", sans-serif;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: #333;
}

.contact-item:last-child {
    margin-bottom: 0;
}

.icon {
    font-size: 1.5rem;
    color: #4CAF50;
    margin-right: 1rem;
}

.contact-details a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.contact-details a:hover {
    color: #45a049;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.hidden {
    display: none;
}